@model MenuApp.Models.CategoryViewModel
@{
    ViewData["Title"] = "Edit Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Category</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:;">
                            <i class="bx bx-home-alt"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <hr>
            <form asp-action="EditCategory" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id"/>
                <div class="card">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-12 col-lg-6">
                                <label class="form-label" asp-for="Name">Kategori Adı</label>
                                <input type="text" class="form-control" placeholder="Kategori Adı" asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label class="form-label" asp-for="Description">Kategori Açıklaması</label>
                                <input type="text" class="form-control" placeholder="Kategori Açıklaması" asp-for="Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input class="form-check-input" asp-for="IsActive" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" asp-for="IsActive" for="flexCheckDefault">IsActive</label>
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label class="form-label" asp-for="DisplayOrder">Kategori sıralaması (Eğer 0 ise en sağda gözükür)</label>
                                <input type="number" class="form-control" placeholder="Sıralama" asp-for="DisplayOrder" value="0">
                                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                            </div>

                            <div class="col-12">
                                <div class="d-flex align-items-center gap-3">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>